.users-page {
  background-color: #d4d2d5;
  min-height: 90vh;
  box-sizing: border-box;
  margin-top: 10vh;
  padding-top: 1vh;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0%;
    background-color: #d4d2d5; */
  /* padding-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; */
}
.lib-box {
  background-color: #d4d2d5;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
}

.navbar {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20vh;
}

.users-library {
  /* background-color: #d4d2d5; */
  width: 100vw;
  box-sizing: border-box;
  flex-direction: column;
}

/* button {
  min-height: 5vh;
  min-width: 15vw;
  background-color: #bfafa6;
  border: solid #6e6a6f;
}
button:hover {
  background-color: #6e6a6f;
}

input {
  height: 4vh;
  min-width: 15vw;
  border: solid #6e6a6f;
  background-color: #d4d2d5;
}
input:hover {
  border: solid #bfafa6;
} */

.lib-title {
  font-size: xx-large;
  margin-top: 5vh;
}

.upper-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
}

.mapped-books {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
  
}
