.page{
  background-color: #d4d2d5;
   min-height:  90vh;
    box-sizing: border-box;
    margin-top: 10vh;
    padding-top: 1vh;
    
}
.lib-box{
  background-color: #d4d2d5;
  height: auto;
}

.navbar{
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20vh;
  }

  .users-library{
    background-color: #d4d2d5;
  }

  button {
    min-height: 5vh;
    min-width: 15vw;
    background-color: #bfafa6;
    border: solid #6e6a6f;
  }
  button:hover {
    background-color: #6e6a6f;
  }
  
  input {
    height: 4vh;
    min-width: 15vw;
    border: solid #6e6a6f;
    background-color: #d4d2d5;
  }
  input:hover {
    border: solid #bfafa6;
  }
  
    .lib-title{
      font-size: xx-large;
      margin-top: 5vh;
    }