.book-box {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: solid thick;
    border-color: #6e6a6f;
    margin: 7px 7px;
    padding: 7px 7px;
    width: 20vw;
    height: 60vh;
    align-items: center;
    justify-content: center;
    background-color: #bfafa6;
}

.nav-a {
    margin-top: -2vh;
    margin-bottom: 1vh;
    text-decoration: none;
    color: black;
    border: solid thin black;
    padding: 5px 5px;
}
.nav-a:hover {
    border: solid thin #d4d2d5;
    box-shadow: 0px 0px 0px 3px #d4d2d5;
}

img {
    height: auto;
    width: auto;
}

.cover-image-small {
    max-height: 15vh;
    height: auto;
    max-width: 15vw;
    margin-bottom: 3vh;
}

nav {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: black;
}

.image-box {
    display: flex;
    justify-content: center;
    width: 100%;
}

h3 {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.book {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 30vw;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding: 5px 5px;
}
.book:hover {
    box-shadow: 0px 0px 0px 5px #d4d2d5;
}

.book-btn {
    min-height: 5vh;
    min-width: 15vw;
    background-color: #bfafa6;
    border: solid #6e6a6f;
}
.book-btn:hover {
    background-color: #d4d2d5;
}



@media (max-width: 775px) {
    .book-box {
        width: 40vw;
        height: 45vh;
    }
}


@media (max-width: 400px) {
    .book-box {
        width: 75vw;
        height: 65vh;
    }

    .book {
        max-width: 35vw;
        margin-bottom: -2px;
        padding: 1px 1px;
    }

    .book-btn {
        width: 55vw;
        height: 5vw;
        font-size: medium;
    }

    .nav-a {
        margin-top: -3vh;
        margin-bottom: 2vh;
        text-decoration: none;
        color: black;
        border: solid thin black;
        padding: 2px 2px;
    }
}