.selected-book {
    background-color: #d4d2d5;
    height: 90vh;
    box-sizing: border-box;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selected-book-page {
    background-color: #d4d2d5;
    padding-top: 25vh;
    margin-top: -20vh;
}

nav {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: black;
}

.selected-nav-a {
    box-sizing: border-box;
    margin-top: 2vh;
    text-decoration: none;
    align-items: center;
    color: black;
    background-color: #bfafa6;
    border: solid #6e6a6f;
    padding: 7px 7px;
}
.selected-nav-a:hover {
    background-color: #6e6a6f;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d4d2d5;
}

img{
    height: auto;
    width: auto;
  }


  @media (max-width: 775px) {

 
}



@media (max-width: 400px) {
 
}