.navbar {
    display: flex;
    box-sizing: border-box;
    position: fixed top;
    width: 100%;
    margin-bottom: 0vh;
    background-color:  #A2EB90;
    height: 8vh;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    border: solid #86A469  ;
   z-index: 100;
}




.nav-link-box {
    width: 60%;
    display: flex;
    justify-content: right;
    /* margin-right: 0px; */
}



.nav-links {
    display: flex;
    justify-content: space-evenly;

    justify-content: right;
    margin-right: 0px;
}

.nav-link {
    
    margin-left: 5px;
    margin-left: 5px;
    cursor: pointer;
}.nav-link:hover{
    color: #60695C;
}

.nav-title {
    width: 30%;
    position: relative;
}

/* .spacer {
    width: 0%;
} */
