
  h1 {
    text-align: center;
    margin-bottom: 7vh;
    box-sizing: border-box;
  }
  
  section {
    text-align: center;
    margin-bottom: 5vh;
    margin-bottom: 10vh;
    border: solid black;
  }
  
  button{
    height: 5vh;
    width: 15vw;
  }
  
  .input{
    height: 4vh;
    width: 15vw;
    /* border: solid thin aquamarine; */
  }
  #addBtn{
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
  }

  .message-box{
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: solid thin black;
    width: 50Vh;
   
  }

  .dash-box{
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
  align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-top: 0vh;
    justify-content: center;
    position: relative;
    top: 10vh

  }
  .library-content{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0%;
  }

  .search-button{
    background-color:   #A2EB90;
    border: solid  #86A469 ;
  }.search-button:hover{
    background-color: #86A469;
    border: solid  #A2EB90;
  }

  .exit-button{
    background-color:   #A2EB90;
    border: solid  #86A469 ;
  }.exit-button:hover{
    background-color: #86A469;
    border: solid  #A2EB90;
  }

  /* .navbar-div{
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10vh;
  } */
  .navbar{
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20vh;
  }

  /* .page-title{
    box-sizing: border-box;
    margin-top: 10vh;
    position: relative ;
    top: 10vh;
  } */