
  h1 {
    text-align: center;
    margin-bottom: 7vh;
    box-sizing: border-box;
  }
  
  section {
    text-align: center;
    margin-bottom: 5vh;
    margin-bottom: 10vh;
    border: solid black;
  }
  
  button{
    height: 5vh;
    width: 15vw;
  }
  
  .input{
    /* height: 5vh;
    width: 15vw; */
    /* border: solid thin aquamarine; */
  }
  #addBtn{
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
  }

  .message-box{
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: solid thin black;
    width: 50Vh;
   
  }

  .dash-box{
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
  align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-top: 0vh;
    justify-content: center;

  }
  .library-content{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0%;
  }