.profile{
    background-color: #D6F9DD;
    box-sizing: border-box;
}

.profile-content{
    background-color: #D6F9DD;
    box-sizing: border-box;
}

.page{
    background-color: #D6F9DD;
    height: 90vh;
    box-sizing: border-box;
    margin-top: 10vh;
}
.navbar{
    position: fixed;
    top: 0px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20vh;
  }
/* 
  button{
   min-height: 5vh;
    min-width: 15vw;
    background-color:   #A2EB90;
    border: solid  #86A469 ;
    box-shadow: 0px 0px 0px 1px #C5D6D8;
  }button:hover{
    background-color: #86A469;
    border: solid  #A2EB90;
  } */
  button {
    min-height: 5vh;
    min-width: 15vw;
    background-color: #bfafa6;
    border: solid #6e6a6f;
  }
  button:hover {
    background-color: #6e6a6f;
  }
  
  input {
    height: 4vh;
    width: 15vw;
    border: solid #6e6a6f;
    background-color: #d4d2d5;
  }
  input:hover {
    border: solid #bfafa6;
  }
  