.profile {
  background-color: #d4d2d5;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-content {
  background-color: #d4d2d5;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -15vh;
}

.auth-page {
  background-color: #d4d2d5;
  height: 90vh;
  box-sizing: border-box;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20vh;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-btn {
  min-height: 8vh;
  min-width: 20vw;
  background-color: #bfafa6;
  border: solid #bfafa6;
}
.register-btn:hover {
  border: solid #6e6a6f;
}
