.profile{
  background-color: #d4d2d5;
    box-sizing: border-box;
}

.profile-content{
  background-color: #d4d2d5;
    box-sizing: border-box;
}

.page{
  background-color: #d4d2d5;
    height: 90vh;
    box-sizing: border-box;
    margin-top: 10vh;
}
.navbar{
    position: fixed;
    top: 0px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20vh;
  }


  button {
    min-height: 5vh;
    min-width: 15vw;
    background-color: #bfafa6;
    border: solid #6e6a6f;
  }
  button:hover {
    background-color: #6e6a6f;
  }
  
  input {
    height: 4vh;
    min-width: 15vw;
    border: solid #bfafa6;
    background-color: #d4d2d5;
  }
  input:hover {
    border: solid #6e6a6f;
  }