.message{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid black; */
    height: 20px;
}

.message-box{
    justify-content: center;
    align-items: center;
    border: solid thin black;
   
}

